ci:
  autofix_prs: false
  autoupdate_commit_msg: Update pre-commit hooks

repos:
  - repo: https://github.com/pre-commit/pre-commit-hooks
    rev: v4.5.0
    hooks:
      - id: check-yaml
      - id: end-of-file-fixer
      - id: trailing-whitespace
      - id: double-quote-string-fixer
  - repo: https://github.com/PyCQA/isort
    rev: 5.13.2
    hooks:
      - id: isort
        args:
          - --profile=black
          - --line-length=79
  - repo: https://github.com/psf/black
    rev: 24.1.1
    hooks:
      - id: black-jupyter
        args:
          - --line-length=79
          - --skip-string-normalization
          - --python-cell-magics=writefile
  - repo: https://github.com/PyCQA/flake8
    rev: 7.0.0
    hooks:
      - id: flake8
        additional_dependencies:
          - flake8-docstrings
          - flake8-annotations
        args:
          - --max-doc-length=72
          - --docstring-convention=numpy
          # D100 Missing docstring in public module
          # D104 Missing docstring in public package
          # D105 Missing docstring in magic method
          # D200 One-line docstring should fit on one line with quotes
          # D205 1 blank line required between summary line and description
          # D301 Use r""" if any backslashes in a docstring
          # D400 First line should end with a period
          # D401 First line should be in imperative mood
          # E203 whitespace before ':'
          # ANN002 Missing type annotation for *args
          # ANN003 Missing type annotation for **kwargs
          # ANN101 Missing type annotation for self in method
          # ANN102 Missing type annotation for cls in classmethod
          # ANN401 Dynamically typed expressions (typing.Any) are disallowed
          # W503 Line break before binary operator
          - --ignore=
            - D100
            - D104
            - D105
            - D200
            - D205
            - D301
            - D400
            - D401
            - E203
            - ANN002
            - ANN003
            - ANN101
            - ANN102
            - ANN401
            - W503
  - repo: https://github.com/nbQA-dev/nbQA
    rev: 1.7.1
    hooks:
      - id: nbqa-isort
        args:
          - --profile=black
          - --line-length=79
      - id: nbqa-flake8
        additional_dependencies:
          - flake8-docstrings
          - flake8-annotations
        args:
          - --max-doc-length=72
          - --docstring-convention=numpy
          # D100 Missing docstring in public module
          # D101 Missing docstring in public class
          # D102 Missing docstring in public method
          # D103 Missing docstring in public function
          # D105 Missing docstring in magic method
          # D200 One-line docstring should fit on one line with quotes
          # D205 1 blank line required between summary line and description
          # D301 Use r""" if any backslashes in a docstring
          # D400 First line should end with a period
          # D401 First line should be in imperative mood
          # E203 whitespace before ':'
          # E402 Module level import not at top of file
          # ANN002 Missing type annotation for *args
          # ANN003 Missing type annotation for **kwargs
          # ANN101 Missing type annotation for self in method
          # ANN102 Missing type annotation for cls in classmethod
          # ANN401 Dynamically typed expressions (typing.Any) are disallowed
          # W503 Line break before binary operator
          - --ignore=D100,D101,D102,D103,D105,D200,D205,D301,D400,D401,E203,E402,ANN002,ANN003,ANN101,ANN102,ANN401,W503
